/**
*   Sightings plugin style
**/

.use {
    padding-top: 3px;
}

#map_canvas {
    clear: both;
}

.latlng_container, .post_options_container {
    width: 25%;
    height: 60px;
    float: left;
    border: 1px dashed gray;
    margin: 0 15px 8px 0;
    padding: 5px;
}

.latlng_container h4, .post_options_container h4 {
    margin: 0 0 10px 0;
}

.latlng_container span {
    margin-left: 8px;
    font-weight: bold;
    color: #555;
}

.latlng_container .button {
    float: right;
}

#sightings-status .message {
    float: left;
    padding-top: 25px;
    font-size: 16pt;
}

#sightings_loader {
    float: right;
    margin: 15px 15px 0 0;
}
#sightings_advanced {
    float:left;
    clear: both;
    margin-bottom: 8px;
}

#sightings_advanced .advanced{
    display:none;
}

/* Sightings settings page style
*/

#sightings_map_settings td:first-child {
    text-align: right;
}

#status_success {
    background-color: #90ee90;
    padding: 5px;
    width: 90%;
    color: #000000;
}

#status_fail {
    background-color: #ff9999;
    padding: 5px;
    width: 90%;
    color: #000000;
}

#donate_container {
    float: right;
    width: 200px;
}

th.cats_header {
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}

div.tables_container {
    overflow: auto;
    border: 2px dashed #CCC;
    width: 50%;
    padding: 10px;
}

table#available_categories {
    float: left;
}

table#contributor_categories tr:nth-child(even) {
    background-color: #f6f6f6;
}

/* Sightings contribute form
*/
#sightings_message {
    background-color: #ffffe0;
    border-color: #E6DB55;
    border-width: 1px;
    border-style: solid;
    padding: 0 .6em;
    margin-bottom: 30px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#sightings_message p {
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 25px;
}

#sightings_message p.success {
    background-image: url("images/success.png");
}

#sightings_message p.error {
    background-image: url("images/error.png");
}

#sightings_form_table {
    border: none !important;
    width: auto !important;
    margin-bottom: 0 !important;
}

#sightings_form_table tr td {
    vertical-align: top;
    border: none !important;
    padding: 0 10px 0 0 !important;
}

#sightings_form_table tr td label {
    float: right;
}

#sightings_form_table td.marker{
    font-size: 10px;
}

p.info {
    background-image: url("images/info.png");
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 25px;
    margin: 0;
}

/* Sightings big map
*/

.sightings_contributor_panel {
    background: #ccc;
    padding:2px;
}

.contributor_form p {
    margin: 0 !important;
}
.contributor_form input {
    margin-bottom: 5px;
}
.contributor_form input[type=text] {
    width: 92%;
}
.contributor_form textarea {
    width: 92%;
    resize: none;
    vertical-align: text-top;
}
.contributor_form input[type=submit] {
    float: right;
    padding:20px;
}

.sight_info p {
    margin: 0 !important;
    padding: 0 !important;
}
.sight_info img.attachment-post-thumbnail {
    max-width: 300px;
}