/**
*   Sightings plugin style
**/

.use {
    padding-top: 3px;
}

#map_canvas {
    clear: both;
}

.latlng_container, .post_options_container {
    width: 25%;
    height: 60px;
    float: left;
    border: 1px dashed gray;
    margin: 0 15px 8px 0;
    padding: 5px;
}

.latlng_container h4, .post_options_container h4 {
    margin: 0 0 10px 0;
}

.latlng_container span {
    margin-left: 8px;
    font-weight: bold;
    color: #555;
}

.latlng_container .button {
    float: right;
}

#sightings-status .message {
    float: left;
    padding-top: 25px;
    font-size: 16pt;
}

#sightings_loader {
    float: right;
    margin: 15px 15px 0 0;
}

/* Sightings settings page style
*/

#sightings_map_settings td:first-child {
    text-align: right;
}

#status_success {
    background-color: #90ee90;
    padding: 5px;
    width: 90%;
    color: #000000;
}

#status_fail {
    background-color: #ff9999;
    padding: 5px;
    width: 90%;
    color: #000000;
}

#donate_container {
    float: right;
    width: 200px;
}

/* Sightings contribute form
*/
#sightings_form_table {
    border: none !important;
    width: auto !important;
}

#sightings_form_table tr td {
    vertical-align: top;
    border: none !important;
    padding: 0 10px 0 0 !important;
}

#sightings_form_table td.marker {
    font-size: 10px;
}