/**
*   Sightings plugin style
**/

.latlng_container {
    width: 30%;
    float: left;
    border: 1px dashed gray;
    margin: 0 15px 8px 0;
    padding: 5px;
}

.latlng_container h4 {
    margin: 0 0 10px 0;
}

.latlng_container span {
    margin-left: 8px;
    font-weight: bold;
    color: #555;
}

.latlng_container .button {
    float: right;
}

#sightings-status .message {
    font-size: 16pt;
}

/* Sightings settings page style
*/

#sightings_map_settings td:first-child {
    text-align: right;
}

#status_success {
    background-color: #90ee90;
    padding: 5px;
    width: 90%;
    color: #000000;
}
